<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UB.My.MySettings.BSConnectionString" connectionString="Data Source=DESKTOP-RK6HA2M;Initial Catalog=BS;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
        <add name="UB.My.MySettings.BSConnectionString1" connectionString="Data Source=172.17.81.16;Initial Catalog=BS;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
        <add name="UB.My.MySettings.BSConnectionString2" connectionString="Data Source=TBN-NB;Initial Catalog=BS;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
        <add name="UB.My.MySettings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-RK6HA2M;Integrated Security=SSPI;Initial Catalog=BS"
            providerName="System.Data.OleDb" />
        <add name="UB.My.MySettings.BSConnectionString3" connectionString="Data Source=DESKTOP-RK6HA2M;Initial Catalog=BS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UB.My.MySettings.ConnectionString1" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-RK6HA2M;Persist Security Info=True;Password=admin;User ID=admin;Initial Catalog=BS"
            providerName="System.Data.OleDb" />
        <add name="UB.My.MySettings.ConnectionString2" connectionString="Dsn=BS;uid=admin;pwd=admin"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <UB.My.MySettings>
            <setting name="DatabaseName" serializeAs="String">
                <value>UBC</value>
            </setting>
            <setting name="DatabaseUserID" serializeAs="String">
                <value>adminubc1</value>
            </setting>
            <setting name="DatabasePwd" serializeAs="String">
                <value>Ubc123456</value>
            </setting>
            <setting name="LastLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
            <setting name="OpenTab" serializeAs="String">
                <value>SaleRibbonPage</value>
            </setting>
            <setting name="DBServerName" serializeAs="String">
                <value>SERVER-UNIQUE</value>
            </setting>
        </UB.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
